/* *      ##### *     #### _\_  ________ *     ##=-[.].]| \      \ *     #(    _\ |  |------| *      #   __| |  |||||||| *       \  _/  |  |||||||| *    .--'--'-. |  | ____ | *   / __      `|__|[o__o]| * _(____nm_______ /____\____ * * Hey you! Looks like you found my main css file through some dark magic hacks :) * You're welcome to give it a read-through if you'd like. But if you want to * barrow something clever and use it in your projects we'd really appreciate a * mention. Thanks! */


/* RESET */
/* ----------------------------------------- */
/* Global reset */
/* Based upon 'reset.css' in the Yahoo! User Interface Library: http://developer.yahoo.com/yui */

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
label,
fieldset,
input,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

fieldset, img {border: 0}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal
}

ul {list-style: none}

caption, th {text-align: left}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal
}

q:before,
q:after {
  content: ''
}


/* Global reset-RESET */
/* The below restores some sensible defaults */

strong {font-weight: bold}
em {font-style: italic}
a img {border: none}
/* Gets rid of IE's blue borders */

/* FONTS */
/* ----------------------------------------- */

@font-face {
  font-family: 'calligraffiti';
  src: url('fonts/Calligraffiti-webfont.eot');
  src: url('fonts/Calligraffiti-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Calligraffiti-webfont.woff') format('woff'), url('fonts/Calligraffiti-webfont.ttf') format('truetype'), url('fonts/Calligraffiti-webfont.svg#calligraffitiregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open sans';
  src: url('fonts/OpenSans-Regular-webfont.eot');
  src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Regular-webfont.woff') format('woff'), url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('fonts/OpenSans-Regular-webfont.svg#open_sans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open sans light';
  src: url('fonts/OpenSans-Light-webfont.eot');
  src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Light-webfont.woff') format('woff'), url('fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* GLOBAL */
/* ----------------------------------------- */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #f8f8f8;
  font-family: 'open sans', sans-serif;
  font-size: 25px;
}
::selection {background: #158773}

a {
  text-decoration: none;
  font-family: 'open sans', sans-serif;
}

h2 {
  color: #4f4f4f;
  font-family: 'open sans', sans-serif;
  font-size: 3.2em;
  text-align: center;
  padding: 68px 0 35px;
}

img {max-width: 100%}

.wrapper {
/*  max-width: 1300px;*/
  margin: 0 auto;
}


/* NAVIGATION */
/* ----------------------------------------- */

nav {
  background: rgba(255, 255, 255, .8);
  -webkit-box-shadow: 0 1px 20px #000;
  -moz-box-shadow: 0 1px 20px #000;
  box-shadow: 0 1px 20px #000;
  padding: 14px 5%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 60px;
/*  max-width: 1300px;*/
  z-index: 3;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  transition: background .5s;
}
nav:hover {background: #fff}
nav a {color: #2e363f}

#logo a {
  background: url(../img/logo3.png) no-repeat;
  padding: 0 0 1px 50px;
  font-family: calligraffiti, sans-serif;
  font-size: 0.8em;
  float: left;
  -webkit-transition: text-shadow 0.5s;
  -moz-transition: text-shadow 0.5s;
  -o-transition: text-shadow 0.5s;
  transition: text-shadow 0.5s;
}
/* Glow effect */
#logo a:hover {text-shadow: 0 0 10px #fff000}

.nav {
  float: right;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.nav li {float: left}

.nav a {
  font-family: 'open sans light', sans-serif;
  padding: 0 10px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  display: block;
}

.nav a:hover {
/*
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
*/
  text-shadow: 0 1px 5px red;
  padding-top: 3px;
}


/* Smaller screens show menu button */

.show-menu {
  width: 35px;
  height: 29px;
  margin-top: 5px;
  padding: 9px 10px 6px;
  display: none;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.show-menu:hover {
  background: rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 0 3px #000 inset;
  -moz-box-shadow: 0 0 3px #000 inset;
  box-shadow: 0 0 3px #000 inset;
}

.show-menu span {
  background: #000;
  width: 100%;
  height: 2px;
  margin-bottom: 3px;
  display: block;
}

nav input[type="checkbox"] {
  display: none;
}

nav input[type="checkbox"]:checked ~ .nav {
  display: block;
}


/* HEADER */
/* ----------------------------------------- */

header {
  background: url(../img/banner.jpg) center no-repeat;
  background-size: cover;
  margin-top: 60px;
  height: 91vh/*583px*/;
  text-align: center;
}

header img {
  padding: 5.71% 0;
  width: 257px;
/*  height: 380px;*/
  margin: 0 auto;
  display: block;
}
header p {padding: 5% 0}

/* ABOUT */
/* ----------------------------------------- */

#about {
  background: #f26d7d;
  /*height: 350px;*/
}

#about p {
  max-width: 775px;
  width: 59.6153%;
  padding-bottom: 6.580%;
}


/*Mostafa*/

section p {
  font-family: calligraffiti, sans-serif;
  font-size: .92em;
  line-height: 33px;
  /*padding-bottom: 51px;*/
  margin: 0 auto;
}


/* MY WORK */
/* ----------------------------------------- */

#myWork {
  background: lightskyblue;
  margin: 5.70% 0;
}

#myWork p {
  max-width: 376px;
  width: 28.923%;
  padding-bottom: 6.580%;
}


/* PORTFOLIO */
/* ----------------------------------------- */

#portfolio {
  background: #f26d7d;
  /*height: 350px;*/
  padding: 0 15%;
  overflow: hidden;
  perspective: 800px;
}

#portfolio section {
  position: relative;
  width: 40.923%;
  height: 290px;
  margin: 50px 0;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
  -webkit-transition: transform .6s ease-in-out;
  -moz-transition: transform .6s ease-in-out;
  -o-transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /* Fixing a bug in Firefox */
  -moz-backface-visibility: hidden;
}

#portfolio section:nth-child(odd) {
  float: left;
}

#portfolio section:nth-child(even) {
  float: right;
}

#portfolio img {
  width: 100%;
  height: 100%;
}

#portfolio .tile {
  background: #f1662a;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.face {z-index: 2}

.back {
  -webkit-transform: rotateY(.5turn);
  -moz-transform: rotateY(.5turn);
  -o-transform: rotateY(.5turn);
  -ms-transform: rotateY(.5turn);
  transform: rotateY(.5turn);
}


/*Mostafa*/

#portfolio section:hover {
  -webkit-transform: rotateY(-.5turn);
  -moz-transform: rotateY(-.5turn);
  -o-transform: rotateY(-.5turn);
  -ms-transform: rotateY(-.5turn);
  transform: rotateY(-.5turn);
}

.back {
  color: #fff;
  font-family: 'open sans', sans-serif;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  padding: 30px;
  overflow: hidden;
}

.back h5 {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.back span {
  font-family: 'open sans light', sans-serif;
}

.divider {
  background: #fff;
  width: 60px;
  height: 3px;
  margin: 2em auto;
  border: 0;
}


/* M O S T A F A*/


/* GET IN TOUCH */
/* ----------------------------------------- */

#getInTouch {
  color: #fff;
  font-family: 'open sans', sans-serif;
  background: #f1662a;
  margin-top: 12.70%;
  position: relative;
}

#getInTouch img {
  position: absolute;
  left: -200px;
  bottom: 8px;
}

.center {
  text-align: center;
}

h3 {
  font-size: 3.2em;
  text-shadow: 0 0 30px #000;
  text-transform: uppercase;
  padding-bottom: 60px;
}

h4 {
  font-size: 1.6em;
  padding: 62px 0 30px 0;
}


/* CONTACT */
/* ----------------------------------------- */

#contact {
  background: url(../img/map.jpg) no-repeat;
  /*height: 500px;*/
  background-size: cover;
  padding: 2.69% 0;
}

#contact form {
  background: rgba(255, 255, 255, .85);
  width: 430px;
  height: 430px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin: 0 auto;
  padding: 108px 78px 60px;
  position: relative;
}

#contact input,
textarea {
  font-family: 'open sans', sans-serif;
  font-size: .56em;
  width: 100%;
  height: 31px;
  border: 1px solid #d8d8d8;
  margin-bottom: 3.02%;
  padding: 10px 0 10px 16px;
  display: block;
}

#contact textarea {
  max-height: 130px;
  height: 120px;
  max-width: 275px;
  margin-bottom: 40px;
}

input:focus,
textarea:focus {
  border: 1px solid #97d6eb;
}

#contact input[type="submit"] {
  background: #43a06d url(../img/send.png) center no-repeat;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100%;
  -moz--border-radius: 100%;
  border-radius: 100%;
  margin: 0 auto;
  border: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

#contact input[type="submit"]:hover {
  background: orange url(../img/send.png) center no-repeat;
  -webkit-box-shadow: 0 0 10px 2px royalblue;
  -moz-box-shadow: 0 0 10px 2px royalblue;
  box-shadow: 0 0 10px 2px royalblue;
}


/* to disable contact form */

.disable-form {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 400px;
  height: 400px;
  background-color: rgba(250, 20, 40, .6);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
}

/* FOOTER */
/* ----------------------------------------- */

footer {
  padding: 2% 0;
  text-align: center;
}

.social {
  width: 23%;
  /*737px*/
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 3%;
  display: table;
  table-layout: fixed;
}

.social li {
  display: table-cell;
  text-align: center;
}

.social li:last-child {
  margin: 0;
}

.social img {
  width: 80px;
  -webkit-transition: transform .6s;
  -moz-transition: transform .6s;
  -o-transition: transform .6s;
  transition: transform .6s;
}

.social img:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.codepen {
  background: transparent;
  width: 80px;
  border-radius: 10px 10px 0 0;
  position: fixed;
  bottom: 50%;
  right: -35px;
  z-index: 150;
  border-bottom: 4px solid #000;
  -webkit-box-shadow: 0 0 7px #000 inset;
  -moz-box-shadow: 0 0 7px #000 inset;
  box-shadow: 0 0 7px #000 inset;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.codepen:hover {right: -4px}

.codepen a {
  color: #000;
  font-size: .55em;
  text-transform: uppercase;
  display: block;
  padding: 0 10px 10px;
}

.codepen img {
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

footer p {font-size: .8em}

/* Media Queries */
/* ----------------------------------------- */

@media only screen and (max-width: 1229px) {
  #getInTouch img {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  #logo a {
    background: none;
    padding: 0;
  }
  nav {overflow: visible}
  .nav {
    background: inherit;
    float: none;
    display: none;
    clear: both;
  }
  .nav li,
  .nav li a {
    float: none;
    text-align: center;
  }
  .show-menu {
    display: block;
    float: right;
  }
  #portfolio section:nth-child(odd),
  #portfolio section:nth-child(even) {
    float: none;
    width: 100%;
  }
  #portfolio {padding: 0 25%}
}

@media only screen and (max-width: 709px) {
  #about p {width: 80%}
  #myWork p {width: 40%}
}

@media only screen and (max-width: 525px) {
  #portfolio {padding: 0 15%}
  #myWork p {width: 60%}
}

@media only screen and (max-width: 447px) {
  #contact form,
  .disable-form {
    width: 100%;
    top: 0;
    left: 0;
  }
  .codepen {display: none}
}